:root {
    --main-color: rgb(255 255 255);
    --second-color: rgb(28, 111, 115);
}


body {
    margin: 0;
    padding: 0;
    background-image: url(background.webp);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.cont {
    margin: 0;
    display: block;
    width: 100%;
}

.d-form {
    backdrop-filter: blur(8px);
    height: 600px;
    width: 28%;
    margin: auto;
    margin-top: 100px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    box-shadow: 0px 0px 10px 15px rgb(0, 0, 0, 0.2);
    padding: 20px;
}

.d-form .p-1 {
    font-size: 250%;
    font-weight: 800;
    color: var(--main-color);
    text-align: center;
}

.d-form label {
    display: block;
    margin-top: px;
    margin-left: 20px;
    font-size: 180%;
    font-weight: 900;
    color: var(--main-color);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.d-form input:focus + label {
    color: var(--second-color)
}




.d-form .div-1 label {
    margin-top: -70px;
}

.d-form .div-1 input {
    margin-top: 20px;
}

.d-form .div-2 label{
    margin-top: -70px;
    margin-bottom: 80px;
}

.d-form .div-2 input{
    margin-top: 110px;
}




.d-form input {
    display: block;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--main-color);
    width: 80%;
    margin: auto;
    padding: 20px 15px 5px 15px;
    font-size: 120%;
    color: var(--main-color);
    background: transparent;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.d-form input:focus {
    border-bottom: 2px solid var(--second-color);
}

.d-form input::placeholder {
    color: var(--main-color);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.d-form input:focus::placeholder{
    color: var(--second-color)
}


.d-form .btn-login {
    display: block;
    width: 80%;
    margin: auto;
    padding: 20px;
    outline: none;
    border: none;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    font-size: 130%;
    font-weight: 800;
    color: var(--main-color);
    background-color: var(--second-color);
    margin-top: 150px;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.d-form .btn-login:hover {
    padding: 25px;
    width: 81%;
}



.d-form .p-2{
    display: block;
    font-size: 110%;
    color: var(--main-color);
    text-align: center;
    margin-top: 50px;
}

.d-form .p-2 span a {
    color: var(--second-color);
    font-weight: 900;
    font-size: 115%;
    text-decoration: none;
}